<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
	td, th, table{
		border: 1px solid black;
	}
</style>
<body>
  <h1><%= title %></h1>
  
	<% if (error && error.length > 0) { %>
		<ul>
			<li>
				<%= error %>
			</li>
		</ul>
	<% } %>
	
  <form action="/managers/add" method="post">
   
   <label for="id">Manager ID:</label> <input type="text" id="id" name="id" value="<%= manager.id %>"><br>
   <label for="name">Name:</label> <input type="text" id="name" name="name" value="<%= manager.name %>"><br>
   <label for="salary">Salary ID:</label> <input type="number" id="salary" name="salary" value="<%= manager.salary %>"><br>


    <button type="submit">Add</button>
  </form>
   
  <a href="/">Home</a>
</body>
</html>
